@media screen and (max-width: 867px) {
    .center-block {
        display: flex;
        flex-direction: column;
        width: 80% !important;
        height: 75%;
    }
    .left {
        align-items: center;
        text-align: center;
        width: 30% !important;
        height: 20%;
        margin: auto;
    }
    .left img {
        width: 100% !important;
        align-items: center;
    }
    .right {
        width: 90% !important;
        text-align: start;
    }
    .content {
        width: 100%;
        height: auto;
        height: 80%;
        max-height: 290px;
    }
    .right .title {
        margin-bottom: 5px !important;
    }
    .title {
        font-size: 13px;
    }
}